
body {
	font-family: "Times", Helvetica, sans-serif;
	margin-left: auto; 
	margin-right: auto; 
	width: 1250px;
	margin-top: 20px; 
	background-image: url('./files/images/background_img.png');
	background-repeat: no-repeat; 
	background-position: bottom right;
}

div.column {
	float: left; 
	margin-top: 0px;
	margin-left: 5px;	
	width: 260px;
}

div.column-half {
	float: left; 
	margin-top: 0px;
	margin-left: 5px;	
	width: 120px;
}

div.tileTop {
	float: left; 
	margin-top: 0px;
	margin-left: 5px; 
	width: 260px;
	background-color: #C11B17; 
	height: 120px;
}

div.tileMiddle {
	float: left; 
	margin-top: 10px;
	margin-left: 5px; 
	width: 260px;
	background-color: #CD7F32; 
	height: 120px;
}

div.tileTopMiddle {
	float: left; 
	margin-top: 125px;
	margin-left: 5px; 
	width: 245px;
	background-color: #1BA1E2; 
	height: 120px;
}

div.tileBottom {
	float: left; 
	margin-top: 10px;
	margin-left: 5px; 
	width: 260px;
	background-color: #6A287E; 
	height: 120px; 
	vertical-align: bottom;
}

div.tileBottomNarrow {
	float: left; 
	margin-top: 250px;
	margin-left: 5px; 
	width: 120px;
	background-color: #1BA1E2; 
	height: 120px; 
	vertical-align: bottom;
}

div.tileBase {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	width: 260px;
	background-color: #347235;
	height: 120px;
	vertical-align: bottom;		
}

h2 {
	text-align: left;
	font-size: 1.1em;
	margin: 5px;
	padding: 0px 0px 0px 7px;
	color: white; 
}


p {
	text-align: left;
	font-size: 0.9em;
	margin: 5px;
	padding: 0px 0px 0px 13px;
	color: white; 
}


#footnote {
	color: #1BA1E2;
	border-top: 1px solid #1BA1E2;
	font-weight: bold;
}

a {
	color: white;
}

a:hover {
	color: gold;
	text-decoration: none;
}


